@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
}

.main {
    background-image: url("assets/images/BG.jpg");
    height: 644px;
    background-size: max(1200px, 100vw);
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    
}

.main .box {
    height: 644px;
    width: 100%;
    opacity: 0.6;
    background-color: black;
    position: absolute;
    top: 0;
}

nav {
    height: 100px;
    display: flex;
    margin: auto;
    max-width: 80vw;
    justify-content: space-between;
    align-items: center;
    /* background-color: red; */
}

nav img {
    width: 130px;
    position: relative;
    z-index: 10;

}

nav button {
    position: relative;
    z-index: 10;
}

.hero {
    font-family: "Martel Sans", sans-serif;
    height: calc(100% - 100px);
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    flex-direction: column;
    position: relative;
    gap: 23px;
    padding: 0 30px;
}

.hero> :first-child{
    font-weight: 900;
    font-size: 56px;
    text-align: center;

}

.hero> :nth-child(2){
    font-weight: 500;
    font-size: 20px;
    text-align: center;
}

.hero> :nth-child(3){
    font-weight: 400;
    font-size: 16px;
    text-align: center;
}

.seperation{
    height: 5px;
    background-color: red;
    
}

.btn{
    padding: 3px 8px;
    font-weight: bold;
    background-color: rgba(248, 248, 248, 0.271);
    color: white;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 400px;
}

.btn-red{
    background-color: red;
    color: rgb(255, 255, 255);
    padding: 7px 35px;
    font-size: 15px;
    border-radius: 20px;

}

.btn-red-sm{
    background-color: red;
    color: white;
}

.hero-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.main input{
    padding: 7px 101px 8px 14px;
    font-size: 12px;
    border-radius: 20px;
    background-color: rgba(23, 23, 23, 0.7);
    border: 1px solid rgba(255, 252, 252, 0.7);
    color: rgb(255, 255, 255);
}

.first{
    display: flex;
    justify-content: center;
    max-width: 70vw;
    margin: auto;
    color: white;
    justify-content: center;
    align-items: center;
}

.secImg{
    position: relative;
    top: 10px;
}

.secImg img{
    width: 555px;
    position: relative;
    z-index: 10;
    
}

.secImg video{
    position: absolute;
    top: 51px;
    right: 1px;
    /* width: 555px; */
    object-fit: cover;
}

section.first > div{
    display: flex;
    flex-direction: column;
}


section.first > div :nth-child(1){
    font-size: 48px;
    font-weight: bolder;
}


section.first > div :nth-child(2){
    font-size: 24px;
}
