*{
    margin: 0;
    padding: 0:
}

.main{
    background-image: url("assets/images/BG.jpg");
    height: 80vh;
    background-size: max(1200px, 100vw);
    background-position: center center;
    background-repeat: no-repeat;
}

.main .box{
    height: 80vh;
    width: 100%;
    opacity: 0.44;
    background-color: black;
    position: absolute;
    top: 0;
}

nav{
    height: 60px;
    display: flex;
    margin: auto;
    max-width: 80vw;
    justify-content: space-between;
    align-items: center;
    /* background-color: red; */
}